table{
    border-collapse: collapse;
}
td{
    width: 80px;
    height: 90x;
    border: 2px solid rgb(202, 247, 202);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.container{
    width: 100%;
    height: 100x;
    justify-content: center;
    display: flex;
    align-items:center
}
.driver {
  width: 200px;
  height: 100px;
  display: flex;
  
  margin-right: 90px;
  justify-content: center;
  align-items: center;
  float: left ;
  background-color: rgb(151, 167, 255);
  border-radius: 15px;
}
.conductor {
  width: 200px;
  height: 100px;
  display: flex;

  justify-content: center;
  align-items: center;
  float: right;
  background-color: rgb(151, 167, 255);
  border-radius: 15px;
}

.front {
    width: 410px;
    height: 50px;
    display: flex;                 
    justify-content: center;       
    align-items: center;          
    background-color: rgba(235, 235, 235, 0);
    border-radius: 15px;
}
a.button {
    padding: 1px 6px;
    border: 50px;
    border-radius: 50px;
    color: buttontext;
    background-color: rgb(120, 75, 180);
    text-decoration: none;
    font-size: 50px;
}
#MyVideo 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.seat {
    width: 100px;
    height: 100px;
    background: rgb(202, 247, 202);
    text-align: center;
    vertical-align: middle;
    border: 2px solid #000;
    cursor: pointer;
}

.seat.yellow {
    background: rgb(255, 255, 156);
}

.seat.red {
    background: rgb(255, 150, 150);
    color: rgb(202, 247, 202);
}
.MyVideo {
    position: relative;
}

.MyVideo{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background: rgba(0,0,0,0.45); /* adjust darkness */
}
.title {
    color: #EAEAEA; /* soft white */
}

.subtitle {
    color: #D1D1D1; /* light gray */
}
