* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
.login-container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(150, 17, 17, 0.37), rgba(150, 17, 17, 0.37)), url(background.png.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.form-box {
    border-radius: 40px;
    width: 40%;
    max-width: 450px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
}

.form-box h1 {
    font-size: 30px;
    margin-bottom: 60px;
    color: #ff2200;
    position: relative;
}

.form-box h1::after {
    content: "";
    width: 120px;
    height: 4px;
    border-radius: 3px;
    background: #f03b05;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-field {
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 50px;
    transition: max-height 0.5s;
    overflow: hidden;
}

input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.fp {
    text-align: left;
    font-size: 13px;
}
.fp a {
    text-decoration: none;
    color: #0400ff;
}

.btn-itu {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-itu button {
    flex-basic: 48%;
    background: #9e0a0aea;
    color: #f7f3f3;
    height: 40px;
    width: 200px;
    border-radius: 40px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.btn-itu2 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-itu2 button {
    margin-top: 30px;
    display: block;
    background: #9e0a0aea;
    color: #f7f3f3;
    height: 40px;
    width: 200px;
    border-radius: 40px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.btn-itu button.disable {
    background: #eaeaea;
    color: #555;
}

img {
    filter: blur(20px);
}
